.left-side-login{
    float: left;
    width: 70%;
    height: 100vh;
    background-color: #F3F3F3;
}

.rigth-side-login{
    float: right;
    height: 100vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MuiCard-root{
    border-radius: 90%;
    width: 70%;
    height: 50%;
}
